/* Estilos generales */
* {
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color1: #12486B;
    --color2: #419197;
    --color3: #78D6C6;
    --color4: #F5FCCD;
}

/* Estilos del encabezado */
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

img {
    border-radius: 50%;
    margin-top: 2%;
    border: 2px solid var(--color2);
}

h1 {
    margin: 4%;
    text-align: left;
}

/* Estilos de la barra de navegación */
nav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    color: var(--color4);
    font-weight: bold;
    border-right: 1px solid var(--color2);
    margin: 0;
    background-color: var(--color1);
    border: 1px solid var(--color2);
    cursor: pointer;
}

.linea-simple {
    padding-top: 5%;
}

/* Estilos de las secciones */
#perfil-personal p {
    width: 80%;
    background-color: var(--color1);
    color: white;
    text-align: justify;
    padding: 2%;
    border-radius: 10px;
    line-height: 2em;
}

#experiencia-profesional li {
    list-style-type: none;
}

#experiencia-profesional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.job {
    background-color: var(--color1);
}

#formación-academica ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#datos-personales ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#skills ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#habilidades-interpersonales ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#idiomas ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#links ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#experiencia-profesional {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

/* Estilos para cada trabajo (job) */
.job {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    color: white;
}





